* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container-top {
    background-color: #0d325a;
    padding-bottom: 100px;
}

.container-block {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;

}

header {
    position: relative;
}

nav {
    font-size: 10px;
}

.logo {
    vertical-align: middle;
    margin: 10px 10px;
    height: 30px;
    float: left;
}

.left-menu {
    display: inline-block;
    padding-top: 30px;
    float: left;

}

ul {
    display: inline-block;
    text-transform: uppercase;

}

ul li {
    display: inline-block;
    padding: 0 5px;
}

ul li a {
    text-decoration: none;
    color: white;
}

.right-menu {
    display: inline-block;
    float:right;
    padding-top: 20px;

}

.right-menu a {
    color: gray;
    text-transform: uppercase;
}

.login-button {
    border: 1px solid #346992;
    background-color: inherit;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    text-transform: uppercase;
}

.green-button {
    border: none;
    color: white;
    background-color: #7fb802;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.header-text {
    max-width: 50%;
    padding-top: 100px;
    padding-right: 50px;
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.header-text-button {
    color: white;
    background-color: #7fb802;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 15px;
}

.oldman-logo img {
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%,-19%);
}

.container-middle {
    background-color: #f9f9f9;
}

.middle-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.text-top {
    font-size: 25px;
}

.text-bottom {
    font-size: 20px;
    color: gray;

}

.container-bottom {
    background-color: white;
    padding-bottom: 50px;

}

.block {
    width: 33.33333%;
    height: 100%;
    float:left;
    position: relative;
}

.icon {
    padding: 30px;
}

.icon img {
    vertical-align: middle;
    display: block;
    height: 150px;
    margin: 0 auto;
}

.text-block {
    text-align: center;
}

.text-block hr {

    width: 45px;
    border-top: 2px solid gray;
    text-align: center;
    margin: 0 auto;
}

.text-block h3 {
    text-align: center;
    color: green;
    padding-bottom: 10px;
    font-size: 23px;
}

.text-block p {
    padding-top: 10px;
    color: gray;
    font-size: 18px;
}
