* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container-top {
    overflow-x: hidden;
}

.container-top {
    background-color: #0d325a;
    padding-bottom: 100px;
}

.container-block {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;

}

header {
    height: 70px;
    padding: 10px;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

nav {
    line-height: 50px;
    float: left;
}

.logo {
    /*
    vertical-align: middle;
    margin: 10px 10px;
    height: 30px;
    */
    float: left;
}
/*
.left-menu {
    display: inline-block;
    padding-top: 30px;
    float: left;

}
*/

nav li {
    float: left;
    margin: 0 5px;
    list-style: none;
    font-size: 11px;
}
/*
ul {
    display: inline-block;
    text-transform: uppercase;

}

ul li {
    display: inline-block;
    padding: 0 5px;
}

ul li a {
    text-decoration: none;
    color: white;
}
*/

header a, header button {
    font-size: 11px;
    color: white;
    text-decoration: none;
}
.right-menu {
    float:right;
}

.right-menu a {
    color: gray;
    text-transform: uppercase;
}

.login-button {
    border: 1px solid #346992;
    background-color: inherit;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    text-transform: uppercase;
}

.green-button {
    border: none;
    color: white;
    background-color: #7fb802;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.splash-zone {
    /*max-width: 50%;
    padding-top: 100px;
    padding-right: 50px;
    font-size: 40px;
    font-weight: 500;
    color: white;*/
    height: 200px;
    position: relative;
}

.splash-zone .text {
    width: 50%;
    position: absolute;
    top:50%;
    transform: translateY(50%);
}

.text h1 {
    color:white;
    margin-bottom: 20px;
}

.splash-zone-button {
    color: white;
    background-color: #7fb802;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 15px;
}

#oldman-logo {
    width: 700px;
    position: absolute;
    transform: scale(0.5);
    right: 0;
    bottom: 0;
    transform: translate(45%,35%);

}

.container-middle {
    background-color: #f9f9f9;
}

.middle-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.text-top {
    font-size: 25px;
}

.text-bottom {
    font-size: 20px;
    color: gray;

}

.container-bottom {
    background-color: white;
    padding-bottom: 50px;

}

.block {
    width: 33.33333%;
    height: 100%;
    float:left;
    position: relative;
}

.icon {
    padding: 30px;
}

.icon img {
    vertical-align: middle;
    display: block;
    height: 150px;
    margin: 0 auto;
}

.text-block {
    text-align: center;
}

.text-block hr {

    width: 45px;
    border-top: 2px solid gray;
    text-align: center;
    margin: 0 auto;
}

.text-block h3 {
    text-align: center;
    color: green;
    padding-bottom: 10px;
    font-size: 23px;
}

.text-block p {
    padding-top: 10px;
    color: gray;
    font-size: 18px;
}
